<!-- MENU -->
<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper blue">
      <div class="container">
        <a href="#" class="brand-logo">
          <img src="./assets/resources/images/logo.png" class="my-logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="produto">Produtos</a></li>
          <li><a routerLink="lista">Minha Lista</a></li>
          <!-- <li><a href="mobile.html">Mobile</a></li> -->
        </ul>
        <ul class="sidenav blue white-text" id="mobile-demo" #mobile>
          <li><a class="waves-effect" routerLink="">Home</a></li>
          <li><a class="waves-effect" routerLink="produto">Produtos</a></li>
          <li><a class="waves-effect" routerLink="lista">Minha Lista</a></li>
          <!-- <li><a href="mobile.html">Mobile</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- FIM MENU -->
